
.App {
  text-align: center;
}
.log_form { 
  padding-top: 5%;

} 

.login_a { 
  padding-top: 5%;

} 

.inpt { 
  padding-top: 10px;
}
.btn_log  { 
  margin-top: 5%;
  align-items: center;
  justify-content: center;
}

.navbar {
  height: 80px;
  color:white;
  text-align: center;
}
.nav {
  margin-right: 40px;
}

.container {
  width: 330px;
  height: 330px;
}

.container1 {
  height: 800px;
}

.container2 {
  height: 450px;
}

.container3 {
  height: 450px;
}

.card-header {
  color: #606060;
}

.text_home {
  padding-top:2%;
  color: #606060;
  text-align: center;
  font-size: 125%;
  font-weight: 150;
  padding-bottom: 5%;
}

.body_home {
  color:white;
  background-color: #ececec;
  align-items: auto;
  height: 100vmax;
  align-self:flex-end;
}
.title_home {
  padding-top: 5%;
  padding-bottom: 2%;
  text-align: center;
  color: #606060;
  font-weight: 200;
}
.title_home2 {
  padding-top: 5%;
  padding-bottom: 2%;
  text-align: center;
  color: #606060;
  font-weight:300;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
